* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   transition: all ease 0.4s;
   &:hover {
      text-decoration: none;
   }
}

// gutter
@for $i from 1 through 7 {
   .gutter-#{$i}0 {
      margin-top: -($i * 10px)/2 !important;
      margin-bottom: -($i * 10px)/2 !important;
      > li,
      > div {
         padding-top: ($i * 10px)/2 !important;
         padding-bottom: ($i * 10px)/2 !important;
      }
   }
}
